<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @candidate_info.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @candidate_info.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate_info.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @candidate_info.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate_info.email %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @candidate_info.pan %>
</p>

<p>
  <strong>Married:</strong>
  <%= @candidate_info.married %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @candidate_info.spouse_name %>
</p>

<p>
  <strong>Education:</strong>
  <%= @candidate_info.education %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @candidate_info.occupation %>
</p>

<p>
  <strong>Income for 2012 2013:</strong>
  <%= @candidate_info.income_for_2012_2013 %>
</p>

<%= link_to 'Edit', edit_candidate_info_path(@candidate_info) %> |
<%= link_to 'Back', candidate_infos_path %>
