<%= form_for(@candidate, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="control-group">
        <%= f.label :name,  class: "control-label"%>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
      </div>

      <div class="control-group">
        <%= f.label :sex,  class: "control-label"%>
            <div class="controls">
              <%= f.select(:sex, %w{ Male Female }) %>
            </div>
      </div>

    <div class="control-group">
      <%= f.label :age, class: "control-label" %>
      <div class="controls">
        <%= f.number_field :age %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :address %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mobile, class: "control-label" %>
      <div class="controls">
        <%= f.number_field :mobile %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :pan, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :pan %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :marriage, class: "control-label" %>
      <div class="controls">
        <%= f.select(:married, %w{ Married Unmarried Divorcee }) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :spouse_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :spouse_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :education, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :education %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :occupation, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :occupation %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :income_for_2012_2013, class: "control-label" %>
      <div class="controls">
        <%= f.number_field :income_for_2012_2013 %>
      </div>
    </div>

    <%= f.submit class: "btn btn-small btn-success active" %>

<% end %>
