<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>District</th>
      <th>Incumbent</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Mla.all.each do |mla| %>
      <tr>
        <td><%= mla.name %></td>
        <td><%= mla.district.name %></td>
        <td><%= mla.incumbent %></td>
        <% if  current_user %>
          <% if selected = current_user.responses.where(seat: mla).first %>
            <td><%= selected.nomination.candidate %>/ <%= selected.nomination.party.name %></td>
          <% else %>
            <td><%= link_to 'Vote', new_response_path(seat_id: mla) %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Vote', new_response_path(seat_id: mla) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
