<% a = 0 %>
<div class="pull-right">
  <%= link_to(image_tag("/assets/neta.jpeg", size: "120x100", :alt => "logo", :title => "Candidate Details"), new_candidate_path) %> <br>
  <span class="label label-mini label-success"> <small>click neta for data</small></span>
</div>

<div class="btn-group">
  <button class="btn btn-warning">Districts</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>

      <ul class="dropdown-menu">
          <li> <%= link_to "ALL", responses_path %> </li>
          <li class="divider"></li>
        <% District.all.order("name").each do |district| %>
          <li> <%= link_to district.name, response_path(district)%>  </li>
        <% end %>
      </ul>

</div>

<table class="table table-condensed table-bordered">
  <thead>
    <tr bgcolor="#a9a9a9">
      <th>Sl</th>
      <th>Name</th>
      <th>District</th>
      <th>Incumbent</th>
      <th>Vote</th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |mla| %>
      <tr>
        <td> <%= a += 1 %> </td>
        <td><%= mla.name %></td>
        <td><%= mla.district.name %></td>
        <td><%= mla.incumbent %></td>

        <% if  current_user %>
          <% if selected = current_user.responses.where(seat: mla).first %>
            <td><%= selected.nomination.candidate %>/ <%= selected.nomination.party.name %></td>
          <% else %>
            <td><%= link_to 'Vote', new_response_path(seat_id: mla) %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Vote', new_response_path(seat_id: mla) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
