<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta property="og:title" content="2014 andhra election mee theerpu" />
      <meta property="og:url" content="http://theerpu.com" />
      <meta property="og:description" content="Cast your vote for 2014 andhra election. see how accurate your predictions on may 16" />
      <meta property="fb:app_id" content="611535688932080" />
    <title><%= content_for?(:title) ? yield(:title) : "2014 andhra election theerpu" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=611535688932080";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">

        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", responses_path %></li>
              <li>
                <div class="fb-like" data-href="http://theerpu.com" data-layout="box_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
              </li>
              <%= render "shared/facebook"  %>
            </ul>
          </div><!--/.nav-collapse -->

          <% if current_user %>
            <%= render "shared/preview" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
      <footer>
        <p>&copy; Developed by <%= link_to(image_tag("/assets/bigbinary.jpeg", size: "100x200", :alt => "bigbinary", :title => "Big Binary"), "http://bigbinary.com/") %>
        </p>
      </footer>
    </div> <!-- /container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50378793-1', 'theerpu.com');
  ga('send', 'pageview');

</script>
  </body>
</html>
